// @import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=MedievalSharp&display=swap');

// .title-header{

//     font-family: 'Leckerli One', cursive;
//     color: rgb(72, 41, 1);

//     text-shadow: -1px 0 #804d14, 0 1px #804d14, 1px 0 #804d14, 0 -1px #804d14;
//     font-size: 60px;
//     padding-left: 100px;
// }

// .title-header:hover{
//   color: antiquewhite;
//   transition: 0.3s;
// }

// .header{
//   display: flex;
//   justify-content: space-around;
//   height: 150px;



// }

// .example-spacer{
//   width: 60%;
// }

// .mat-toolbar-row{
//   background-color: saddlebrown;
//   background-image: url(/src/assets/dndmobile.jpg) !important;
// background-position: center;
// background-size: cover;
// }
