@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=MedievalSharp&display=swap');



.element {
    width: 300px;
    height: 100px;
    background-color: rgb(143, 143, 0);
    animation: pulse 4s ease-in-out infinite;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: unset;
    position: absolute;
    bottom: 20%;
}

.element:hover {
    width: 400px;
    transition: 0.3s;
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 80px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}

button:hover {
    color: white;

}

.open-site-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    opacity: 0;
    
}

.title {
    text-align: center;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    
    font-family: 'Great Vibes', cursive;
    font-size: 120px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  
    opacity: 0; 
    transform: translateY(20px); /* Inizialmente, il titolo è traslato verso il basso di 20px (puoi regolare questa quantità) */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 


}

.show-title {
    opacity: 1; /* Mostra gradualmente il titolo rendendolo completamente visibile */
    transform: translateY(0); /* Ripristina la posizione verticale del titolo */
  }



.subtitle {
    margin: 0;
    text-align: center;
    font-size: 80px;
    font-family: 'MedievalSharp', cursive;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}